{% extends 'base.html' %}
{% load static %}
{% block content %}

		<article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">

				<h1 class="title mb-2">Password Change</h1>
				<p>Please enter your old password, for security's sake, and then enter
				your new password twice so we can verify you typed it in correctly.</p>
				<form method="post">
				{% csrf_token %}
				{{ form.as_p }}

				<input type="submit" value="Change my password">
				</form>
				
		    </div><!--//container-->
	    </article>

{% endblock content %} 
