{% extends 'base.html' %}
{% load static %}
{% block content %}

		<article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Djangonauts</h2>
			    
			    <p>Welcome to Djangonauts!<br>My name is Hadi Peyro, and I am a passionate Django Developer dedicated to sharing my knowledge and experiences with the Django web framework. With a strong foundation in web development and a love for coding, I created Djangonauts as a platform to help others learn, grow, and navigate the exciting world of Django.</p>
			    <h5 class="mt-5">My Journey</h5>
			    <p>My journey into web development began with a curiosity about how websites are built and how they function. As I delved deeper, I discovered Django—a powerful and versatile framework that allows developers to create robust web applications quickly and efficiently. Since then, I have been on a mission to master Django and share my insights with fellow developers, whether they are beginners or seasoned professionals.</p>
			    <h5 class="mt-5">What You’ll Find Here</h5>
			    <p>At Djangonauts, you will find a wealth of resources, including:</p>
				<ul>
				    <li>
				        <strong>In-Depth Tutorials:</strong> Step-by-step guides that cover various aspects of Django, from the basics to advanced topics. Whether you’re just starting or looking to enhance your skills, there’s something for everyone.
				    </li>
				    <li>
				        <strong>Best Practices:</strong> Tips and tricks to help you write clean, efficient, and maintainable code. I believe that good coding practices are essential for any developer.
				    </li>
				    <li>
				        <strong>Project Showcases:</strong> A portfolio of my work, showcasing the projects I’ve developed using Django. This not only serves as a testament to my skills but also provides inspiration for your own projects.
				    </li>
				    <li>
				        <strong>Community Engagement:</strong> I encourage interaction and discussion among readers. Feel free to leave comments, ask questions, or share your own experiences. Together, we can build a supportive community of Django enthusiasts.
				    </li>
				</ul>
			    <h5 class="mt-5">My Mission</h5>
			    <p>My mission with Djangonauts is to empower developers by providing them with the tools and knowledge they need to succeed in their projects. I believe that learning should be accessible and enjoyable, and I strive to create content that reflects that philosophy.</p>
			    <h5 class="mt-5">Get in Touch</h5>
			    <p>I am always eager to connect with fellow developers, potential collaborators, and anyone interested in Django. If you have questions, suggestions, or just want to say hello, don’t hesitate to reach out! You can find me on <a href="https://t.me/hadiit" target="_blank">Telegram</a>, or simply drop me an email at <a href="mailto:djangonauts@gmail.com">djangonauts@gmail.com</a>.</p>			    
		    </div>
	    </article><!--//about-section-->

{% endblock content %} 
