{% extends 'base.html' %}
{% load static %}
{% block content %}
				
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">

			  {% for post in post_list %}
			    <div class="item mb-5">
				    <div class="media">
					  <a href="{{ post.get_absolute_url }}"><img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.cover.url }}" alt="image"></a>
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title | slice:"50" }}</a></h3>
						    <div class="meta mb-1"><span class="date">Published {{ post.publish }}</span><span class="time">Updated {{ post.updated }}</span></div>
						    <div class="intro">{{ post.body|safe | slice:"200" }}...</div>
						    <a class="more-link" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
				{% endfor %}
			    
		<nav class="blog-nav nav nav-justified my-5">
		    {% if page_obj.has_previous %}
		        <a class="nav-link-prev nav-item nav-link rounded-left" href="?page=1" style="margin-right: 5px;">
		            &laquo; First
		        </a>
		        <a class="nav-link-prev nav-item nav-link rounded-left" href="?page={{ page_obj.previous_page_number }}" style="margin-right: 5px;">
		            Previous <i class="arrow-prev fas fa-long-arrow-alt-left"></i>
		        </a>
		    {% endif %}
		
		    {% if page_obj.has_next %}
		        <a class="nav-link-next nav-item nav-link rounded-right" href="?page={{ page_obj.next_page_number }}" style="margin-left: 5px;">
		            Next <i class="arrow-next fas fa-long-arrow-alt-right"></i>
		        </a>
		        <a class="nav-link-next nav-item nav-link rounded-right" href="?page={{ page_obj.paginator.num_pages }}" style="margin-left: 5px;">
		            Last &raquo;
		        </a>
		    {% endif %}
		</nav>

{% if post %}
			<span class="pagination-info">
			    <b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</b>
			</span>
{% endif %}

				
		    </div>
	    </section>

{% endblock content %} 
