{% load static %}
<html lang="en"> 
<head>
    <title>Djangonauts</title>
	
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Tutorials">
    <meta name="author" content="Hadi Peyro">    
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}"> 
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-1.css' %}">
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/new.css' %}">

	<!-- Include Quill CSS -->
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	
	<!-- Include Quill JS -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	
</head>

<body>
    
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="{% url 'blog:blog_list' %}">Djangonauts</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/profile.png' %}" alt="image" >			
					
					<div class="bio mb-3">Hi, my name is Hadi.<br> I'm a Django developer and enthusiast.<br> I share what I know about Django.<br></div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
					    <li class="list-inline-item"><a href="https://github.com/django-nauts" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/djangonauts" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="https://stackoverflow.com/users/15186564/hadi" target="_blank"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="https://t.me/HadiIt" target="_blank"><i class="fab fa-telegram fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'blog:blog_list' %}"><i class="fas fa-home fa-fw mr-2"></i>Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'blog:about' %}"><i class="fas fa-user fa-fw mr-2"></i>About</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="#" target="_blank">Get in Touch</a>
				</div>
			</div>
		</nav>
		
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
		<a style="color: white;" href="{% url 'profile_edit' %}">Profile</a>
        <button class="logout-button" type="submit">Log Out</button>
        {% if user.is_superuser %}
            <a style="color: white;" href="{% url 'blog:post_new' %}">New Post</a>
        {% endif %}
    </form>
{% else %}
    <a style="color: white;" href="{% url 'signup' %}">Sign Up</a>&nbsp;&nbsp;&nbsp;
    <a style="color: white;" href="{% url 'login' %}">Log In</a>
{% endif %}
		

    </header>

    <div class="main-wrapper">

	  {% block content %}
	  {% endblock content %} 

	</div><!--//main-wrapper-->


    <!-- Javascript -->          
    <script src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/popper.min.js' %}"></script> 
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
    
    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/blog.js' %}"></script>     

</body>
</html> 
